# Practise for Lab2

In [1]:
34

34

In [2]:
word = "Welcome to Lab2"

In [3]:
print(word)

Welcome to Lab2

In [4]:
for i (word):
    print(i)

SyntaxError: invalid syntax (<ipython-input-4-f1191e8a7082>, line 1)

In [5]:
for i in (word):
    print(i)

W
e
l
c
o
m
e

t
o

L
a
b
2

In [7]:
for i in word:
    print(i)

W
e
l
c
o
m
e

t
o

L
a
b
2

In [8]:
num = 77
print num

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-8-c4e381914c88>, line 2)

In [9]:
num = 77
print (num)

77

In [10]:
minus_sign = ' '
minus_sign * 20

'                    '

In [11]:
minus_sign = ' *'
minus_sign * 20

' * * * * * * * * * * * * * * * * * * * *'

In [12]:
print (num)
print (num)
print (num)

77
77
77

In [13]:
#end is a command we can use to replace a newline with a * 
print(num, end = '*')
print(num, end = '*')
print(num, end = '*')

77*77*77*

In [14]:
string = '12 * 3'

In [15]:
print(string)

12 * 3

In [16]:
eval(string)

36

In [17]:
expression = input("enter an expression: ")
eval(expression)

enter an expression: 2 * 4 + 76

84

In [18]:
expression = input("enter an expression: ")
eval(expression)

enter an expression: 12 * 12 + 122 +123

389

In [19]:
expression.split(' ')

['12', '*', '12', '+', '122', '+123']

In [20]:
dir(expression)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [21]:
expression.startswith("d")

False

In [23]:
expression.startswith('6')

False

In [24]:
expression.startswith('12')

True

In [25]:
expression

'12 * 12 + 122 +123'

In [26]:
eval(expression)

389

In [30]:
word = "python"

In [31]:
word = "python"
eval("python")

NameError: name 'python' is not defined

In [32]:
eval(expression)

389

In [33]:
word = "python"

word.startswith("p")

In [35]:
dir(word)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [40]:
word.capitalize()

'Python'

In [44]:
word = "python"

In [45]:
word[0]

'p'

In [46]:
word[-3]

'h'

In [47]:
word[0:]

'python'

In [48]:
word[0:]

'python'

In [50]:
word[:-1]

'pytho'

In [51]:
word[:-2]

'pyth'

In [52]:
new_word = "the light is always on"
list(reversed(new_word))

['n',
 'o',
 ' ',
 's',
 'y',
 'a',
 'w',
 'l',
 'a',
 ' ',
 's',
 'i',
 ' ',
 't',
 'h',
 'g',
 'i',
 'l',
 ' ',
 'e',
 'h',
 't']

In [54]:
new_word ="thelightisalwayson"
list(reversed(new_word))

['n',
 'o',
 's',
 'y',
 'a',
 'w',
 'l',
 'a',
 's',
 'i',
 't',
 'h',
 'g',
 'i',
 'l',
 'e',
 'h',
 't']

In [55]:
new_word ="thelightisalwayson"
list(new_word)

['t',
 'h',
 'e',
 'l',
 'i',
 'g',
 'h',
 't',
 'i',
 's',
 'a',
 'l',
 'w',
 'a',
 'y',
 's',
 'o',
 'n']

In [56]:
newword ="thelightisalwayson"
list(new_word)

['t',
 'h',
 'e',
 'l',
 'i',
 'g',
 'h',
 't',
 'i',
 's',
 'a',
 'l',
 'w',
 'a',
 'y',
 's',
 'o',
 'n']

In [57]:
newword ="thelightisalwayson"
list(new_word,end = '*')

TypeError: list() takes at most 1 argument (2 given)

In [58]:
var = "RAINY"

In [59]:
print(var)

RAINY

In [60]:
list(var)

['R', 'A', 'I', 'N', 'Y']

In [64]:
list(reversed (var))

['Y', 'N', 'I', 'A', 'R']

In [62]:
num = [3, 12 ,15, 16,77,99]

In [63]:
print(num)

[3, 12, 15, 16, 77, 99]

In [65]:
for i in range(10):
    print(i, end = ',')

0,1,2,3,4,5,6,7,8,9,

In [66]:
for i in range(10):
    print(i, end = ',')

0,1,2,3,4,5,6,7,8,9,

In [67]:
sort= sorted(num)
sort

[3, 12, 15, 16, 77, 99]

In [68]:
def say_hello():
    print("Hi")

In [69]:
say_hello()

Hi

In [70]:
def say_hello():
    print("Hi")
3*3

9

In [75]:
def say_hello():
    print("Hi")
    print("Ho")
    print("tron")

In [76]:
say_hello()

Hi
Ho
tron

In [77]:
greet = say_hello

In [78]:
greet

In [79]:
greet()

Hi
Ho
tron

In [80]:
def enter_car(car_name):
    print("The car is %s" % car_name)

In [81]:
enter_car()

TypeError: enter_car() missing 1 required positional argument: 'car_name'

In [82]:
enter_car(Ford)

NameError: name 'Ford' is not defined

In [83]:
enter_car('Ford')

The car is Ford

In [84]:
sentence = "here is a word: %s" % "EARTH"

In [85]:
sentence

'here is a word: EARTH'

In [86]:
def show_num(num):
    print("enter a number %d" % num)

In [87]:
 show_num(5)

enter a number 5

In [88]:
show_num('5')

TypeError: %d format: a number is required, not str

In [89]:
print("here {0} is {0} a {0} lot of {0}".format(3))

here 3 is 3 a 3 lot of 3

In [91]:
print("here {0} is {1} a {2} lot of {0}".format(9 , 6 , 8))

here 9 is 6 a 8 lot of 9

In [94]:
def one():
    return 1

In [96]:
one()

1

In [97]:
def return_num(n):
    return n

In [98]:
return_num(12)

12

In [99]:
print(n)

NameError: name 'n' is not defined

In [100]:
def multiply(n):
    return n * 7

In [101]:
multiply(4)

28

In [102]:
#Define a function called add 
#that will return the sum of two numbrs

def add(n,d):
    return n * d

In [103]:
add(12,12)

144

In [104]:
def add(n,d):
    return n + d

In [105]:
add(12,12)

24

In [108]:
def largest(a,b):
    if a > b:
        print(a)
    else:
        print("no return")

In [109]:
largest(234,5)

234

In [110]:
largest(4,5)

no return

In [111]:
!ipconfig

Windows IP Configuration


Ethernet adapter Local Area Connection 2:

   Media State . . . . . . . . . . . : Media disconnected
   Connection-specific DNS Suffix  . :

Wireless LAN adapter Wireless Network Connection:

   Connection-specific DNS Suffix  . :
   Link-local IPv6 Address . . . . . : fe80::5538:8f35:7d3f:21f4%14
   IPv4 Address. . . . . . . . . . . : 172.16.4.90
   Subnet Mask . . . . . . . . . . . : 255.255.254.0
   Default Gateway . . . . . . . . . : 172.16.4.1

Ethernet adapter Bluetooth Network Connection:

   Media State . . . . . . . . . . . : Media disconnected
   Connection-specific DNS Suffix  . :

Tunnel adapter isatap.{039C643F-CA36-4B96-B833-B7DFB0FA4C4B}:

   Media State . . . . . . . . . . . : Media disconnected
   Connection-specific DNS Suffix  . :

Tunnel adapter isatap.{4A93B74E-3C68-4CC0-86C7-A0EB9A132883}:

   Media State . . . . . . . . . . . : Media disconnected
   Connection-specific DNS Suffix  . :

Tunnel adapter isatap.{9F87116D-3F99-4619-8CBF-F8420A28C2B3}:

   Media State . . . . . . . . . . . : Media disconnected
   Connection-specific DNS Suffix  . :

In [112]:
ip_address = '192.168.45.1'

In [113]:
ip_address

'192.168.45.1'

In [121]:
for i in (ip_address):
    print(i)

1
9
2
.
1
6
8
.
4
5
.
1

In [114]:
a,b,c,d = ip_address.split('.')

In [116]:
print(a,b,c,d)

192 168 45 1

In [119]:
for element in ip_address.split('.'):
    print(ip_address)

192.168.45.1
192.168.45.1
192.168.45.1
192.168.45.1

In [120]:
for element in ip_address.split('.'):
    print(element)

192
168
45
1

In [122]:
for address in range(256):
    print(a,b,c,address)

192 168 45 0
192 168 45 1
192 168 45 2
192 168 45 3
192 168 45 4
192 168 45 5
192 168 45 6
192 168 45 7
192 168 45 8
192 168 45 9
192 168 45 10
192 168 45 11
192 168 45 12
192 168 45 13
192 168 45 14
192 168 45 15
192 168 45 16
192 168 45 17
192 168 45 18
192 168 45 19
192 168 45 20
192 168 45 21
192 168 45 22
192 168 45 23
192 168 45 24
192 168 45 25
192 168 45 26
192 168 45 27
192 168 45 28
192 168 45 29
192 168 45 30
192 168 45 31
192 168 45 32
192 168 45 33
192 168 45 34
192 168 45 35
192 168 45 36
192 168 45 37
192 168 45 38
192 168 45 39
192 168 45 40
192 168 45 41
192 168 45 42
192 168 45 43
192 168 45 44
192 168 45 45
192 168 45 46
192 168 45 47
192 168 45 48
192 168 45 49
192 168 45 50
192 168 45 51
192 168 45 52
192 168 45 53
192 168 45 54
192 168 45 55
192 168 45 56
192 168 45 57
192 168 45 58
192 168 45 59
192 168 45 60
192 168 45 61
192 168 45 62
192 168 45 63
192 168 45 64
192 168 45 65
192 168 45 66
192 168 45 67
192 168 45 68
192 168 45 69
192 168 45 70
192 168 45 71
192 168 45 72
192 168 45 73
192 168 45 74
192 168 45 75
192 168 45 76
192 168 45 77
192 168 45 78
192 168 45 79
192 168 45 80
192 168 45 81
192 168 45 82
192 168 45 83
192 168 45 84
192 168 45 85
192 168 45 86
192 168 45 87
192 168 45 88
192 168 45 89
192 168 45 90
192 168 45 91
192 168 45 92
192 168 45 93
192 168 45 94
192 168 45 95
192 168 45 96
192 168 45 97
192 168 45 98
192 168 45 99
192 168 45 100
192 168 45 101
192 168 45 102
192 168 45 103
192 168 45 104
192 168 45 105
192 168 45 106
192 168 45 107
192 168 45 108
192 168 45 109
192 168 45 110
192 168 45 111
192 168 45 112
192 168 45 113
192 168 45 114
192 168 45 115
192 168 45 116
192 168 45 117
192 168 45 118
192 168 45 119
192 168 45 120
192 168 45 121
192 168 45 122
192 168 45 123
192 168 45 124
192 168 45 125
192 168 45 126
192 168 45 127
192 168 45 128
192 168 45 129
192 168 45 130
192 168 45 131
192 168 45 132
192 168 45 133
192 168 45 134
192 168 45 135
192 168 45 136
192 168 45 137
192 168 45 138
192 168 45 139
192 168 45 140
192 168 45 141
192 168 45 142
192 168 45 143
192 168 45 144
192 168 45 145
192 168 45 146
192 168 45 147
192 168 45 148
192 168 45 149
192 168 45 150
192 168 45 151
192 168 45 152
192 168 45 153
192 168 45 154
192 168 45 155
192 168 45 156
192 168 45 157
192 168 45 158
192 168 45 159
192 168 45 160
192 168 45 161
192 168 45 162
192 168 45 163
192 168 45 164
192 168 45 165
192 168 45 166
192 168 45 167
192 168 45 168
192 168 45 169
192 168 45 170
192 168 45 171
192 168 45 172
192 168 45 173
192 168 45 174
192 168 45 175
192 168 45 176
192 168 45 177
192 168 45 178
192 168 45 179
192 168 45 180
192 168 45 181
192 168 45 182
192 168 45 183
192 168 45 184
192 168 45 185
192 168 45 186
192 168 45 187
192 168 45 188
192 168 45 189
192 168 45 190
192 168 45 191
192 168 45 192
192 168 45 193
192 168 45 194
192 168 45 195
192 168 45 196
192 168 45 197
192 168 45 198
192 168 45 199
192 168 45 200
192 168 45 201
192 168 45 202
192 168 45 203
192 168 45 204
192 168 45 205
192 168 45 206
192 168 45 207
192 168 45 208
192 168 45 209
192 168 45 210
192 168 45 211
192 168 45 212
192 168 45 213
192 168 45 214
192 168 45 215
192 168 45 216
192 168 45 217
192 168 45 218
192 168 45 219
192 168 45 220
192 168 45 221
192 168 45 222
192 168 45 223
192 168 45 224
192 168 45 225
192 168 45 226
192 168 45 227
192 168 45 228
192 168 45 229
192 168 45 230
192 168 45 231
192 168 45 232
192 168 45 233
192 168 45 234
192 168 45 235
192 168 45 236
192 168 45 237
192 168 45 238
192 168 45 239
192 168 45 240
192 168 45 241
192 168 45 242
192 168 45 243
192 168 45 244
192 168 45 245
192 168 45 246
192 168 45 247
192 168 45 248
192 168 45 249
192 168 45 250
192 168 45 251
192 168 45 252
192 168 45 253
192 168 45 254
192 168 45 255