In [1]:
#Revise Lists

In [2]:
numbers = [5,9,18,27,32]
numbers

[5, 9, 18, 27, 32]

In [3]:
type (numbers)

list

In [4]:
#Assessing a list by using an index
#Indexes always start at zero

In [5]:
number[0]

NameError: name 'number' is not defined

In [6]:
numbers[0]

5

In [7]:
numbers[4]

32

In [8]:
len(numbers)

5

In [9]:
def get_average(numbers):
    total = 0
    for i in numbers:
        total = i + 1
        average = total /len(numbers)
        return (average)

In [10]:
get_average (2,18,5)

TypeError: get_average() takes 1 positional argument but 3 were given

In [11]:
def get_average(numbers):
    total = 0
    for i in numbers:
        total = i + 1
        average = total /len(numbers)
        return (average)

In [12]:
get_average ([3,16 ,22])

1.3333333333333333

In [13]:
get_average ([10,19,10,10])

2.75

In [25]:
def get_average(numbers):
    total = 0
    for num in (numbers):
        total += num
    average = total / len(numbers)
    return(average)

In [26]:
get_average([19,12,16,18,19])

16.8

In [27]:
len (numbers)

5

In [28]:
for i in (numbers):
    print (i)

5
9
18
27
32

In [29]:
#Adding to a list
numbers.append(55)

In [30]:
print(numbers)

[5, 9, 18, 27, 32, 55]

In [31]:
#Removing from a list
numbers.remove(5)

In [32]:
print(numbers)

[9, 18, 27, 32, 55]

In [33]:
#Filtering out numbers
small_numbers = filter(lambda n : n < 10, numbers)
small_numbers

In [39]:
for i in num:
    print(num)

NameError: name 'num' is not defined

In [40]:
for num in small_numbers:
    print(num)

9

In [41]:
list(small_numbers)

[]

In [42]:
list(numbers)

[9, 18, 27, 32, 55]

In [43]:
numbers[::2]

[9, 27, 55]

In [44]:
numbers[::3]

[9, 32]

In [45]:
numbers[::-2]

[55, 27, 9]

In [48]:
numbers[1:2]

[18]

In [49]:
numbers[1:3]

[18, 27]

In [50]:
numbers[1:4]

[18, 27, 32]

In [51]:
numbers[1:5]

[18, 27, 32, 55]

In [53]:
numbers[1:16:4]

[18]

In [54]:
newnums = [1,5,3,6,7,8,5,3,5,7,7]
newnums[2:9:3]

[3, 8, 5]

In [55]:
newnums = [1,5,3,6,7,8,5,3,5,7,7]
newnums[2:8:3]

[3, 8]

In [56]:
# Strings can also be sliced
"hello there"[0::3]

'hltr'

In [57]:
tralee = ("Kerry", "Ireland")
print(tralee)
print(tralee[0])

tralee

('Kerry', 'Ireland')
Kerry

('Kerry', 'Ireland')

In [58]:
tralee = ("Kerry", "Ireland")
print(tralee)
print(tralee[0])
tralee[0] = "Cork"
tralee

('Kerry', 'Ireland')
Kerry

TypeError: 'tuple' object does not support item assignment

In [59]:
len (tralee)

2

In [60]:
cars = {}
cars ['vw'] = "golf"
cars ['ford'] = "focus"
cars

{'ford': 'focus', 'vw': 'golf'}

In [61]:
heights = {}
heights['alan'] = 1.8
heights['brian'] = 1.83
heights

{'alan': 1.8, 'brian': 1.83}

In [62]:
print (cars['vw'])

golf

In [63]:
print (heights['alan'])

1.8

In [64]:
cars ['ford'] = "mustang"

In [65]:
cars

{'ford': 'mustang', 'vw': 'golf'}

In [66]:
cars ['seat'] = "leon"
cars

{'ford': 'mustang', 'seat': 'leon', 'vw': 'golf'}

In [67]:
with open("output.dat",'wt') as f:
    for i in range(10):
        f.write(str(i) + '\n')

# Excersises

In [68]:
#Create a list of numbers called lotto and sort them using sorted

In [69]:
lotto = [4,8,22,27,39,41]
print (len(lotto))

6

In [70]:
sorted_lotto = sorted(lotto)
sorted_nunmbers

NameError: name 'sorted_nunmbers' is not defined

In [71]:
sorted_lotto = sorted(lotto)
sorted_numbers

NameError: name 'sorted_numbers' is not defined

In [72]:
sorted_lotto = sorted(lotto)
sorted_lotto

[4, 8, 22, 27, 39, 41]

In [73]:
for num in sorted_lotto:
    print num

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-73-c315a6dd6894>, line 2)

In [74]:
for num in sorted_lotto:
    print (num)

4
8
22
27
39
41

In [75]:
for index, num in enumerate(sorted_lotto):
    print(index + 1,num)

1 4
2 8
3 22
4 27
5 39
6 41

In [76]:
for index, num in enumerate(sorted_lotto):
    print(index ,num)

0 4
1 8
2 22
3 27
4 39
5 41

In [78]:
for  idx, num in enumerate(reversed(sorted_lotto)):
    print(idx, num)

0 41
1 39
2 27
3 22
4 8
5 4

In [79]:
for  idx, num in enumerate(reversed(sorted_lotto)):
    print(idx + 1, num)

1 41
2 39
3 27
4 22
5 8
6 4